.container {
    text-align: center;
    padding: 1rem;
    background-color: white; /* Sky blue background */
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    border: 2.5px solid white; /* 1px white border */
    margin-bottom: 20px; /* Add bottom margin to ensure space below */
}

.input {
    width: 3%;
    padding: 10px;
   
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: #000000;
}

.icon-button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
   
}

.icon {
    font-size: 30px;
    color: #87CEEB; /* White color for the icon */
}

.icon-button:focus,
.icon-button:hover,
.icon-button:active {
    outline: none;
    background-color: transparent; /* Ensure no background color change on interaction */
}

.result {
    margin-top: 20px;
    font-size: 1rem;
    color: #87CEEB;
    height: 60px; /* Set a fixed height */
    line-height: 1.25; /* Adjust line height for readability */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
}
