.container {
    text-align: center;
    background-color: white; /* Sky blue background */
    border-radius: 5px;
    max-width: 1000px;
    margin: 0 auto;
    border: 2.5px solid white;
    
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .icon {
    font-size: 5rem;
    color: #87CEEB; /* Blue color for the icon */
  }
  
  .icon-button:focus,
  .icon-button:hover,
  .icon-button:active {
    outline: none;
    background-color: transparent; /* Ensure no background color change on interaction */
  }
  
  .blink {
    animation: blink-animation 0.1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  .result {
    margin-top: 10px;
    font-size: 2rem;
    color: #87CEEB;
  }

  h2 {
    font-size: 2rem;
    color: #87CEEB;
    margin-bottom: 15px;
  }
