/* src/components/WeatherWidget.module.css */
.container {
    text-align: center;
    padding: 50px;
    background-color: white; /* Sky blue background */
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    border: 2.5px solid white;
    margin-bottom: 20px;
  }
  
  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
   
  }
  
  .icon {
    font-size: 3rem;
    color: #87CEEB; /* White color for the icon */

  }
  
  .icon-button:focus,
  .icon-button:hover,
  .icon-button:active {
    outline: none;
    background-color: transparent; /* Ensure no background color change on interaction */
  }
  
  .blink {
    animation: blink-animation 0.2s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  
  .result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #87CEEB;
  }
  